@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Balsamiq Sans', cursive;
    /* border: 1px dashed red; */
}

.topnav, .navlist {
    height: 50px;
    background-color: black;
}

.navlist, .mainbody, .navbar {
    width: 800px;
    margin: 0 auto;
    color:wheat;
    display: flex;
    align-items: center;
}

.navlist p, .me {
    color: white;
}

.profile {
    font-size: 35px;
    margin-right: 50px;
}

.signoff {
    background-color: aqua;
    border: 3px solid grey;
    box-shadow: 2px 2px rgb(252, 252, 252);
    font-size: 20px;   
}

.navbar {
    flex: 2;
    display: flex;
    list-style-type: none;
}

.navitem {
    margin-right: 20px;
}

input {
    font-size: 20px;
    /* background-color: lightseagreen; */
    color: whitesmoke;
    padding: 3px 10px;
}


/* This will setup bottom portion */

.mainbody, .leftcolumn,.rightcolumn{
    height: 800px;
    margin-top: 10px;
}

.mainbody {
    /* background-color: aqua; */
    gap: 20px;
}

/* ********************************** */
/* general use rules */

    .topblock {
        height: 25%;
        background-color: lightseagreen ;
    }

    .toplabel{
        padding: 10px;
        background-color: black;
        font-size: 15px;
    }

    .pic {
        height: 30px;
        border-radius: 50%;
        margin-right: 10px;
    }

    .font15px {
        font-size: 15px;
    }
/* ********************************** */


/* setup left column */
.leftcolumn{
    flex: 2;
}

.usercard {
    height: 270px;
    background-color: white;
    margin-bottom: 20px; 
    border: 3px solid grey;
}

.profpic {
    background-color: teal;
    height: 100px;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 20px ;
}

.info {
    color: black;
    margin-top: 10%;
    margin-left: 15px;
}

.infoicon {
    width: 10px;
    margin-right: 10px;
}

.name {
    font-size: 30px;
    margin-bottom: 3px;
}
.address{
    font-size: 18px;
    margin-bottom: 5px;
}

.masterof {
    margin-top: 10px;
    margin-bottom: 5px;
}

.educationcard{
    height: 150px;
    background-color: white;
    border: 3px solid grey;
}

.info1, .info2, .info3{
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 5px;
}

.info1{
    color: black;
    font-size: 18px;
}

.info2{
    color: grey;
}

.info3 {
    color: rgb(39, 39, 39);
    font-size: 13px;
}

.lastline {
    margin-top: 10px;
}


.rightcolumn{
    flex: 1;
}

.countdisplay {
    /* height: 30px; */
    background-color: white;
    color: black;
    border-radius: 10px;
    margin-right: 20px;
    margin-left: 8px;
    align-items: center; 
    justify-content: center;
}

.connectrequest{
    height: 150px;
    background-color: white;
    margin-bottom: 20px; 
    border: 3px solid grey;

}

.respondicon {
    height: 20px;
    border-radius: 50%;
    margin-right: 2px;
    justify-content: end;
}

.requestwindow {
    height: 100px;
    margin-top: 10px;
}

.nameinfo {
    display: inline-block;
    color: black;
}

.requestorprofile {
    display: flex;
    align-items: center;
    /* width: 200px; */
    padding-left: 10px;
    margin-bottom: 10px;
    
}

.requestorname {
    width: 150px;
}

/* right bottom block */

.connections {
    height: 200px;
    border: 3px solid grey;
}

.connectionlistwindow {
    margin-top: 10px;
}

.connectionlistwindow p {
    display: flex;
    align-items: center;
    height: 30px;
    margin-bottom: 5px;
}

.friendsname {
    padding-left: 10px;
    color: black    
}

.friendslist {
    font-size: 20px;
}

.viewmorefriends{
    display: flex;
    height: 30px;
    border: 3px solid grey;
    border-top: 0px;
    align-items: center;
    justify-content: left;
    padding-left: 10px ;
}